<div id="landing">
  <div class="container">
    <div class="row">
      <div class="span5">
        <h1>Groundbreaking<br>
          new community</h1>
        <p>We set out to create a community for passionate League fans where excellence was expected-
          and this is the result. From tournaments and forums to membership incentives and free giveaways, we're sure
          to have something for everyone.
        </p>
        <p><a href="#" class="btn btn-primary btn-action">Signup Today</a></p>
      </div>
      <div class="span7">
        <div class="js-video">
          <iframe src="http://player.vimeo.com/video/67181447" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="content" class="txt-middle">
  <div class="container">
    <div class="row main-tab">
      <div class="span4 bouncy">
      <div class="divider">
        <div class="icon_wrapper"> <i class="icon-comments"></i> </div>
        <h2>Forums</h2>
        <p>Get plugged into a passionate community - and then stay plugged in. We've raised the bar in what you should
        expect from a community. We have an active member base and a rage-free atmosphere.
        </p>
        </div>
      </div>
      <div class="span4 bouncy">
      <div class="divider">
        <div class="icon_wrapper"> <i class="icon-delicious-sign"></i> </div>
        <h2>Giveaways</h2>
        <p>Thats right, we've put our money where our mouth is. We offer everything you see here at no cost, and yet again we've
        raised the bar. As a community we offer more than a free voice server. We take it one step further and have monthly giveaways of massive amounts of RP. And the best part?
        Everyone is invited.</p>
        </div>
      </div>
      <div class="span4 bouncy">
      <div class="divider last">
        <div class="icon_wrapper"> <i class="icon-paste"></i> </div>
        <h2>Stat Sheets</h2>
        <p>Not only are we passionate gamers, we happen to have development skills as well. With next level stat sheets and automated
        game-stats tracking we will give you everything you need to stay ahead of the competition.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="featured-container">
    <div class="container">
      <div class="row">
        <h2>Featured Projects</h2>
        <div class="span4"> <a href="" class="thumbnail"> <img alt="image" src="http://quickimage.it/400x200"></a></div>
        <div class="span4"> <a href="" class="thumbnail"> <img alt="image" src="http://quickimage.it/400x200"> </a></div>
        <div class="span4"> <a href="" class="thumbnail"> <img alt="image" src="http://quickimage.it/400x200"> </a></div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="<%= pages_about_path %>">About Us</a></li>
          <li><a href="<%= pages_features_path %>">Features</a></li>
          <li><a href="<%= pages_livestream_path %>">Pricing</a></li>
        </ul>
      </div>
      <div class="span3">
        <h3>Company</h3>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Faq</a></li>
        </ul>
      </div>
      <div class="span3">
        <h3>Social Media</h3>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="http://www.twitter.com/railsview">Twitter</a></li>
          <li><a href="#">Dribbble</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="copywrite">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>&copy; League Grounds <span id="totop" class="pull-right">Back to Top</span></p>
      </div>
    </div>
  </div>
</div>